@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
/* written by riliwan balogun http://www.facebook.com/riliwan.rabo*/
.board {
    margin: 60px auto;
    background: #fff;
    /*box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}

    .board .nav-tabs {
        position: relative;
        /* border-bottom: 0; */
        width: 70%;
        margin: 40px auto;
        margin-bottom: 0;
        box-sizing: border-box;
    }

body {
    /*background: rgb(206,220,231);
    background: -moz-linear-gradient(top, rgb(206,220,231) 0%, rgb(148,166,178) 100%);
    background: -webkit-linear-gradient(top, rgb(206,220,231) 0%,rgb(148,166,178) 100%);
    background: linear-gradient(to bottom, rgb(206,220,231) 0%,rgb(148,166,178) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#94a6b2',GradientType=0 ); 
    font-family: 'Roboto', sans-serif;*/
    background: rgb(105,116,120); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(105,116,120) 1%, rgb(86,103,123) 50%, rgb(105,115,107) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgb(105,116,120) 1%,rgb(86,103,123) 50%,rgb(105,115,107) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(105,116,120) 1%,rgb(86,103,123) 50%,rgb(105,115,107) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#697478', endColorstr='#69736b',GradientType=0 ); /* IE6-9 */

}

.nav {
    position: relative !important;
}

.bg-form {
    /*background: url(../images/bg-form.png) 0 -10px no-repeat;*/
    background-size: cover;
    background: #fff;
    /*box-shadow: 0px 0px 20px 0px;*/
}

.board-inner {
    /*width: 70%;
    margin: auto;
    position: relative;*/
    width: 55%;
    margin: auto;
    position: relative;
    border-top: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 15px;
}


p.narrow {
    width: 60%;
    margin: 10px auto;
}

.liner {
    height: 8px;
    background: #ababab;
    position: absolute;
    width: 92%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    /* background-color: #ffffff; */
    border: 0;
    border-bottom-color: transparent;
}

span.round-tabs {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: block;
    border-radius: 100px;
    background: white;
    left: 0;
    text-align: center;
    font-size: 25px;
    margin: auto;
}

    span.round-tabs.one {
        color: #fff;
        border: 2px solid #f36967;
        background: #f36967;
    }

        span.round-tabs.one:hover {
            color: #ffffff;
            border: 2px solid #d85250;
            background: #d85250;
        }

.tabs-btn-enabled {
    text-align: center;
}

    .tabs-btn-enabled span:first-child {
        text-align: center;
        display: block;
        color: #fff;
        background: #244e9f;
    }

    .tabs-btn-enabled span {
        color: #1b435e;
    }

.tabs-btn-dissabled {
    text-align: center;
}

    .tabs-btn-dissabled span:first-child {
        color: #fff !important;
        text-align: center;
        display: block;
        background: #ababab;
    }

    .tabs-btn-dissabled span {
        color: #1b435e;
    }

        .tabs-btn-dissabled span:first-child:hover {
            color: #fff;
            background: #244e9f;
        }

        .tabs-btn-dissabled span:hover {
            color: #244e9f;
        }

.tab-one-name {
    color: #d85250;
    text-align: center;
    display: block;
}

    .tab-one-name:hover {
        color: #d85250;
    }



li.active span.round-tabs.one {
    background: #fff !important;
    border: 2px solid #ddd;
    color: rgb(34, 194, 34);
}

span.round-tabs.two {
    color: #fff;
    border: 2px solid #f7ba2c;
    background: #f7ba2c;
}

    span.round-tabs.two:hover {
        color: #fff;
        border: 2px solid #dea728;
        background: #dea728;
    }


.tab-two-name {
    color: #dea728;
    text-align: center;
    display: block;
}

    .tab-two-name:hover {
        color: #dea728;
    }

li.active span.round-tabs.two {
    background: #fff !important;
    border: 2px solid #ddd;
    color: rgb(34, 194, 34);
}

span.round-tabs.three {
    color: #fff;
    border: 2px solid #faa030;
    background: #faa030;
}

    span.round-tabs.three:hover {
        color: #fff;
        border: 2px solid #e89023;
        background: #e89023;
    }


.tab-three-name {
    color: #e89023;
    text-align: center;
    display: block;
}

.tab-tree-name:hover {
    color: #e89023;
}

li.active span.round-tabs.three {
    background: #fff !important;
    border: 2px solid #ddd;
    color: rgb(34, 194, 34);
}

span.round-tabs.four {
    color: #f1685e;
    border: 2px solid #f1685e;
}

li.active span.round-tabs.four {
    background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}

span.round-tabs.five {
    color: #999;
    border: 2px solid #999;
}

li.active span.round-tabs.five {
    background: #fff !important;
    border: 2px solid #ddd;
    color: #999;
}

.nav-tabs > li.active > a span.round-tabs {
    background: #fafafa;
}

.nav-tabs > li {
    width: 33.333%;
}
    /*li.active:before {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: -2px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    z-index: 1;
    transition:0.2s ease-in-out;
}*/
    .nav-tabs > li:after {
        content: " ";
        position: absolute;
        left: 45%;
        opacity: 0;
        margin: 0 auto;
        bottom: 0px;
        border: 5px solid transparent;
        border-bottom-color: #ddd;
        transition: 0.1s ease-in-out;
    }

    .nav-tabs > li.active:after {
        content: " ";
        position: absolute;
        left: 47%;
        opacity: 1;
        margin: 0 auto;
        bottom: 0px;
        border: 10px solid transparent;
        border-bottom-color: #ddd;
    }

    .nav-tabs > li a {
        width: 150px;
        height: 70px;
        margin: 20px auto;
        border-radius: 100%;
        padding: 0;
    }

        .nav-tabs > li a:hover {
            background: transparent;
        }

.tab-content {
}

.tab-pane {
    position: relative;
    padding-top: 50px;
}

.tab-content .head {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.btn-outline-rounded {
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.btn.green {
    background-color: #5cb85c;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}

@media( max-width : 585px ) {

    .board {
        width: 90%;
        height: auto !important;
    }

    span.round-tabs {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .tab-content .head {
        font-size: 20px;
    }

    .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .nav-tabs > li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }

    .btn-outline-rounded {
        padding: 12px 20px;
    }
}

.logo-form {
    height: 120px;
    margin-top: 10px;
    margin-left: 10px;
}

.btn-sub-enabled {
    background: #0f58a7;
    border-radius: 4px;
    border: none;
    padding: 6px 15px;
    color: #fff;
}

.btn-sub-disabled {
    background: #ababab;
    border-radius: 4px;
    border: none;
    padding: 6px 15px;
    color: #fff;
}



.drop-year {
    height: 30px;
    border-radius: 6px;
    width: 125px;
    padding-left: 6px;
    margin-right: -10px;
}

.nav-tabs {
    border-bottom: 0px !important;
}

.form-box {
    vertical-align: top;
}

.average-country > td {
    background: #244e9f;
    padding: 5px;
    color: #fff;
}

    .average-country > td:first-child {
        border-radius: 6px 0 0 0;
    }

    .average-country > td:last-child {
        border-radius: 0 6px 0 0;
    }

.form-width {
    Width: 80px;
}

.tbody-55 input {
    width: 55px;
    text-align: center;
    margin: auto;
    text-align: center;
}

.tbody-55 td {
    width: 55px;
    vertical-align: top;
}

.tbody-80 input {
    width: 80px;
    text-align: center;
}

.tbody-80 td {
    vertical-align: top;
}

.input-width-80 {
    width: 80px;
    text-align: center;
}

.pa-8 {
    padding: 8px 6px 8px 8px !important;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 4px 1px 0px 1px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

thead td {
    text-align: center;
    font-size: 13px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.panel {
    background-color: transparent !important;
}

.mtb-30 {
    margin: 30px 0;
    clear: both;
}

.panel-vertical {
    background: #244e9f;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
    text-align: left;
}

.pa-0 {
    padding: 0px;
}

.clearfix {
    display: block;
    content: "";
    clear: both;
}

.form-gross {
    margin: auto;
    float: none;
    clear: both;
}

.form-head {
    border-bottom: 1px solid #244e9e;
    color: #244e9e;
}

.form-gross label {
    font-weight: 500 !important;
}

.nav-tabs > li > a:hover {
    border-color: transparent !important;
}

.set-budget, set-budget:hover, set-budget:visited {
    background: transparent !important;
}

.heading-top {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
    color: #0d59a8;
    margin-top: 40px;
    text-align: left;
}

.button-dissabled {
    background: #989898;
}

input-dissabled {
    background: #e2e2e2;
}

/*input[type="text"] {
            background: #fff;
            border: 1px solid #c5c5c5;
            border-radius: 4px;
        }*/

.input-field-enabled {
    background: #ffffff;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
}

.input-field-disabled {
    background: #ebebe4;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
}

.form-group label {
    border-bottom: 1px dashed #ababab;
    padding: 0px 6px 2px 10px;
}

.pa-0 label {
    border-bottom: none;
}

.bg-heading {
    background: url(../images/financial.png) 0 40px no-repeat;
    background-position: right top;
}

.alert {
    text-shadow: 0 1px 0 rgba(255,255,255,.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 2px rgba(0,0,0,.05);
    background: #fff3cd;
    border-color: #ffeeba;
}

.alert {
    padding: 7px 10px 7px 20px !important;
}

.heading-ver img {
    height: 40px;
    padding-right: 10px;
    vertical-align: middle;
}

.logo-back {
    background: url(../images/logo-back.png) no-repeat;
    background-position: left top;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-bold {
    font-weight: bold;
}

.panel-primary > .panel-heading {
    background: #0d59a8 !important;
    border: 1px solid #0d59a8 !important;
}

.mr-10 {
    margin-right: 10px;
}
.mr-5 {
    margin-right: 5px;
}

.input-names{
    font-size: 18px;
    line-height: 2;
}

.form-year {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.font-18{
        font-size: 18px;
}

.form-gross .form-group input{
    text-align:right;
    padding-right: 10px;
}

.btns-form input{
    margin-right:10px;
}

.width50{
    width:50px;
}
.month-select label{
    border-bottom:none;
}

.equity-share input{
        width: 100px;
    padding-left: 10px;
}

.form-gross .col-md-4{
    text-align:right;
    padding-right:0px;
}

.mr-20{
    margin-right:20px;
}
.panel-primary input{
    font-size:11px;
    margin-top: 16px;
    padding: 6px;
}

.panel-primary .auto-style5, .tbody-80 td:first-child{
    vertical-align: middle;
}
.last-table td{
    vertical-align: baseline!important;
}
.last-table input{
    margin-bottom:20px;
}
.setup-curency-year{
        height: 30px;
    border-radius: 6px;
    width: 125px;
    padding-left: 6px;
    margin-right: 10px;
}

.select-year{
    margin-bottom: 0px;
}

.edit-btns input{
    margin-left: 3px;
}
a{
    background:transparent!important;
}
a:hover{
    background:transparent!important;
}
    